name: SmartDoor MQTT Bridge
slug: dd
version: "0.3.2"
image: "ghcr.io/gravypower/{arch}-addon-dd"
description: SmartDoor garage door integration with MQTT and position control support
url: "https://github.com/gravypower/dd"
startup: application
boot: auto
init: false
watchdog: "tcp://[HOST]:1883"
services:
  - mqtt:need

arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386

map:
  - type: config
    read_only: false

options:
  code: ""
  password: ""
  host: ""
  mqtt_prefix: dd-door
  debug: false

schema:
  code: str
  password: password
  host: str
  mqtt?:
    broker: str
    port: port
    username: str?
    password: password?
  mqtt_prefix: str
  debug: bool
